@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
  --accent: #d4c17f;
  --dark: #242b33;
  --font-family: "Raleway", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "Roboto", sans-serif;
  --font3: "Post No Bills Jaffna SemiBold", sans-serif;
}

body {
  font-family: var(--font-family);
  background: var(--dark);
}

header{
    background-image: url(/img/header_bc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1110px;
        width: 100%;

        .links{
            display: flex;
            gap: 40px;

            .link{
                font-size: 14px;
                letter-spacing: 0.05em;
                color: #fff;
                text-decoration: none;
                transition: 0.5s;

                &:hover{
                    color: var(--accent);
                }
            }
        }
    }

    .container{
     max-width: 582px;
     width: 100%;
     height: 470px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;

     h1{
        font-family: var(--second-family);
        font-size: 48px;
        text-align: center;
        color: var(--accent);
      }
     .block {
        display: flex;
        gap: 98px;

        .box {
            display: flex;
            gap: 14px;
        }

     }
  }
}